body{
    background-color: silver;
    color: #000120;
    font-family: sans-serif;
}

h1{
    text-align: center;
    font-style: italic;
    size: 3em;

}

h2{
    size: 2em;
    color: green;
    text-decoration: underline;
}

p{  
    text-indent: 2em;
    text-align: justify;
}
cite{
    font-variant: small-caps;
    letter-spacing: 0.1em;
}

dd{
    font-weight: bold;
}

abbr{
    cursor: help;
}

em{
    font-style: italic;
    font-weight: bold;
}

mark{
    background-color: pink;
}

ul li{
    list-style-type: disc;
}

.first{
    color: white;
}

#spe{
    color: red;
    text-decoration: none;
}

#spe:hover{
    text-decoration: underline;
}

#lol{
    font-size: 5px;
}

.end:active{
    color: orange;
    font-size: 2em;
}

img{
    max-height: 100px;
    max-width:150px;
    border: 3px dashed orange;
}

table,th,td{
    text-align: right;
    caption-side: bottom;
    border-collapse: collapse;
    padding: 0.5em;
    border: 1px solid;
}

caption{
    font-style: italic;
    font-size: 0.7em;
}

